{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} | Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% tailwind_css %}
</head>
<body class="bg-gray-500">
<div class='w-3/4 mx-auto p-5'>
    <form class="form w-2/3 rounded-xl bg-gray-200 p-5 mx-auto" method='POST' enctype='multipart/form-data'>
        {% csrf_token %}
        <div class='form_item'>
            <h4 class='text-pink-500 text-2xl mb-2'>Name</h4>
            <input value="{{ user.username }}" type='text' name='username' id='username' class='p-4 bg-gray-300 rounded-lg border-0 hover:bg-gray-400 hover:border-0 text-white'/>
        </div>
        <div class='form_item'>
            <h4 class='text-pink-500 text-2xl mb-2'>Name</h4>
            <input type='file' name='image' id='image' class='p-4 bg-gray-300 rounded-lg border-0 hover:bg-gray-400 hover:border-0 text-white'/>
        </div>
        
        <button class='rounded-xl bg-pink-500 text-white px-5 py-2'>Submit</button>
        {% if error %} <p class='text-red-500'>{{error}}!!!</p> {% endif %}
    </form>
</div>
</body>
</html>