<ul class='w-2/6 ml-auto flex justify-between'>
    <li>
        <a href='{% url 'Home' %}' class='px-4 py-2 hover:drop-shadow-sm rounded-md bg-pink-700 hover:bg-pink-800 text-white'>Home</a>
    </li>
    <li>
        <a href='{% url 'Profile' %}'
           class='px-4 py-2 hover:drop-shadow-sm rounded-md bg-pink-700 hover:bg-pink-800 text-white'>Profile</a>
    </li>
    <li>
        <a href='{% url 'Login' %}' class='px-4 py-2 hover:drop-shadow-sm rounded-md bg-pink-700 hover:bg-pink-800 text-white'>Login</a>
    </li>
    <li>
        <a href='{% url 'Register' %}' class='px-4 py-2 hover:drop-shadow-sm rounded-md bg-pink-700 hover:bg-pink-800 text-white'>Register</a>
    </li>
    <li>
        <a href='{% url 'Logout' %}' class='px-4 py-2 hover:drop-shadow-sm rounded-md bg-pink-700 hover:bg-pink-800 text-white'>Logout</a>
    </li>
    <li>
        <a href='{% url 'UserSearch' %}' class='px-4 py-2 hover:drop-shadow-sm rounded-md bg-pink-700 hover:bg-pink-800 text-white'>Users</a>
    </li>
</ul>